#detail-riwayat-produk .top-text {
    margin-top: 64px;
    margin-bottom: 96px;
}

#detail-riwayat-produk .top-text svg {
    margin-right: 34px;
}

#detail-riwayat-produk .top-text h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 22px; /* 91.667% */
    letter-spacing: -0.408px;
}

#detail-riwayat-produk .form-label {
    font-size: 20px;
    font-weight: 500;
    line-height: 14px; /* 70% */
    letter-spacing: -0.408px;
}

#detail-riwayat-produk .form-control {
    border: none;
    border-bottom: 1px solid #000;
    line-height: 14px; /*70%*/
    letter-spacing: -0.408px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
